In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./datasets/기상.csv', encoding='cp949')
df

,지점,지점명,일시,평균기온(°C),평균현지기압(hPa),평균상대습도(%),월합강수량(00~24h만)(mm),평균풍속(m/s),합계 일조시간(hr),일조율(%),합계 일사량(MJ/m2)
0,108,서울,Jan-15,-0.9,1013.8,56,11.3,2.6,193.3,62.94,245.05
1,108,서울,Feb-15,1.0,1011.4,59,22.7,2.9,180.0,59.50,267.04
2,108,서울,Mar-15,6.3,1010.7,45,9.6,3.1,270.8,73.07,458.62
3,108,서울,Apr-15,13.3,1005.5,55,80.5,3.1,216.0,54.71,449.84
4,108,서울,May-15,18.9,999.4,53,28.9,3.0,290.4,66.03,602.95
...,...,...,...,...,...,...,...,...,...,...,...
590,159,부산,Sep-21,22.9,1004.4,79,164.7,3.0,95.2,26.47,367.94
591,159,부산,Oct-21,18.7,1011.0,67,18.2,2.6,215.9,61.62,453.21
592,159,부산,Nov-21,12.5,1010.0,56,57.9,3.0,221.0,71.20,359.73
593,159,부산,Dec-21,6.0,1014.3,50,4.5,3.0,231.1,75.72,339.36
594,159,부산,Jan-22,4.0,1013.7,41,0.0,2.8,233.8,74.62,369.00

In [3]:
df.drop('지점', axis=1, inplace=True)

In [4]:
df = df.rename(columns={'지점명':'시도'})
df

,시도,일시,평균기온(°C),평균현지기압(hPa),평균상대습도(%),월합강수량(00~24h만)(mm),평균풍속(m/s),합계 일조시간(hr),일조율(%),합계 일사량(MJ/m2)
0,서울,Jan-15,-0.9,1013.8,56,11.3,2.6,193.3,62.94,245.05
1,서울,Feb-15,1.0,1011.4,59,22.7,2.9,180.0,59.50,267.04
2,서울,Mar-15,6.3,1010.7,45,9.6,3.1,270.8,73.07,458.62
3,서울,Apr-15,13.3,1005.5,55,80.5,3.1,216.0,54.71,449.84
4,서울,May-15,18.9,999.4,53,28.9,3.0,290.4,66.03,602.95
...,...,...,...,...,...,...,...,...,...,...
590,부산,Sep-21,22.9,1004.4,79,164.7,3.0,95.2,26.47,367.94
591,부산,Oct-21,18.7,1011.0,67,18.2,2.6,215.9,61.62,453.21
592,부산,Nov-21,12.5,1010.0,56,57.9,3.0,221.0,71.20,359.73
593,부산,Dec-21,6.0,1014.3,50,4.5,3.0,231.1,75.72,339.36
594,부산,Jan-22,4.0,1013.7,41,0.0,2.8,233.8,74.62,369.00

In [5]:
df.loc[df['시도']=='서울','시도']='서울특별시'
df.loc[df['시도']=='부산','시도']='부산광역시'
df.loc[df['시도']=='대구','시도']='대구광역시'
df.loc[df['시도']=='인천','시도']='인천광역시'
df.loc[df['시도']=='광주','시도']='광주광역시'
df.loc[df['시도']=='대전','시도']='대전광역시'
df.loc[df['시도']=='울산','시도']='울산광역시'

In [6]:
df

,시도,일시,평균기온(°C),평균현지기압(hPa),평균상대습도(%),월합강수량(00~24h만)(mm),평균풍속(m/s),합계 일조시간(hr),일조율(%),합계 일사량(MJ/m2)
0,서울특별시,Jan-15,-0.9,1013.8,56,11.3,2.6,193.3,62.94,245.05
1,서울특별시,Feb-15,1.0,1011.4,59,22.7,2.9,180.0,59.50,267.04
2,서울특별시,Mar-15,6.3,1010.7,45,9.6,3.1,270.8,73.07,458.62
3,서울특별시,Apr-15,13.3,1005.5,55,80.5,3.1,216.0,54.71,449.84
4,서울특별시,May-15,18.9,999.4,53,28.9,3.0,290.4,66.03,602.95
...,...,...,...,...,...,...,...,...,...,...
590,부산광역시,Sep-21,22.9,1004.4,79,164.7,3.0,95.2,26.47,367.94
591,부산광역시,Oct-21,18.7,1011.0,67,18.2,2.6,215.9,61.62,453.21
592,부산광역시,Nov-21,12.5,1010.0,56,57.9,3.0,221.0,71.20,359.73
593,부산광역시,Dec-21,6.0,1014.3,50,4.5,3.0,231.1,75.72,339.36
594,부산광역시,Jan-22,4.0,1013.7,41,0.0,2.8,233.8,74.62,369.00

In [7]:
import datetime
df['일시2'] = np.zeros(595)
for i in range(len(df['일시'])):
    format = '%b-%y'
    df['일시2'][i] = datetime.datetime.strptime(df['일시'][i],format)
    
df['년도'] = pd.DatetimeIndex(df['일시2']).year
df['월'] = pd.DatetimeIndex(df['일시2']).month
df

C:\Users\82103\AppData\Local\Temp/ipykernel_21136/3085446730.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['일시2'][i] = datetime.datetime.strptime(df['일시'][i],format)

,시도,일시,평균기온(°C),평균현지기압(hPa),평균상대습도(%),월합강수량(00~24h만)(mm),평균풍속(m/s),합계 일조시간(hr),일조율(%),합계 일사량(MJ/m2),일시2,년도,월
0,서울특별시,Jan-15,-0.9,1013.8,56,11.3,2.6,193.3,62.94,245.05,2015-01-01 00:00:00,2015,1
1,서울특별시,Feb-15,1.0,1011.4,59,22.7,2.9,180.0,59.50,267.04,2015-02-01 00:00:00,2015,2
2,서울특별시,Mar-15,6.3,1010.7,45,9.6,3.1,270.8,73.07,458.62,2015-03-01 00:00:00,2015,3
3,서울특별시,Apr-15,13.3,1005.5,55,80.5,3.1,216.0,54.71,449.84,2015-04-01 00:00:00,2015,4
4,서울특별시,May-15,18.9,999.4,53,28.9,3.0,290.4,66.03,602.95,2015-05-01 00:00:00,2015,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,부산광역시,Sep-21,22.9,1004.4,79,164.7,3.0,95.2,26.47,367.94,2021-09-01 00:00:00,2021,9
591,부산광역시,Oct-21,18.7,1011.0,67,18.2,2.6,215.9,61.62,453.21,2021-10-01 00:00:00,2021,10
592,부산광역시,Nov-21,12.5,1010.0,56,57.9,3.0,221.0,71.20,359.73,2021-11-01 00:00:00,2021,11
593,부산광역시,Dec-21,6.0,1014.3,50,4.5,3.0,231.1,75.72,339.36,2021-12-01 00:00:00,2021,12
594,부산광역시,Jan-22,4.0,1013.7,41,0.0,2.8,233.8,74.62,369.00,2022-01-01 00:00:00,2022,1

In [8]:
df = df.drop('일시', axis=1)
df

,시도,평균기온(°C),평균현지기압(hPa),평균상대습도(%),월합강수량(00~24h만)(mm),평균풍속(m/s),합계 일조시간(hr),일조율(%),합계 일사량(MJ/m2),일시2,년도,월
0,서울특별시,-0.9,1013.8,56,11.3,2.6,193.3,62.94,245.05,2015-01-01 00:00:00,2015,1
1,서울특별시,1.0,1011.4,59,22.7,2.9,180.0,59.50,267.04,2015-02-01 00:00:00,2015,2
2,서울특별시,6.3,1010.7,45,9.6,3.1,270.8,73.07,458.62,2015-03-01 00:00:00,2015,3
3,서울특별시,13.3,1005.5,55,80.5,3.1,216.0,54.71,449.84,2015-04-01 00:00:00,2015,4
4,서울특별시,18.9,999.4,53,28.9,3.0,290.4,66.03,602.95,2015-05-01 00:00:00,2015,5
...,...,...,...,...,...,...,...,...,...,...,...,...
590,부산광역시,22.9,1004.4,79,164.7,3.0,95.2,26.47,367.94,2021-09-01 00:00:00,2021,9
591,부산광역시,18.7,1011.0,67,18.2,2.6,215.9,61.62,453.21,2021-10-01 00:00:00,2021,10
592,부산광역시,12.5,1010.0,56,57.9,3.0,221.0,71.20,359.73,2021-11-01 00:00:00,2021,11
593,부산광역시,6.0,1014.3,50,4.5,3.0,231.1,75.72,339.36,2021-12-01 00:00:00,2021,12
594,부산광역시,4.0,1013.7,41,0.0,2.8,233.8,74.62,369.00,2022-01-01 00:00:00,2022,1

In [10]:
df = df.drop('일시2', axis=1)
df

,시도,평균기온(°C),평균현지기압(hPa),평균상대습도(%),월합강수량(00~24h만)(mm),평균풍속(m/s),합계 일조시간(hr),일조율(%),합계 일사량(MJ/m2),년도,월
0,서울특별시,-0.9,1013.8,56,11.3,2.6,193.3,62.94,245.05,2015,1
1,서울특별시,1.0,1011.4,59,22.7,2.9,180.0,59.50,267.04,2015,2
2,서울특별시,6.3,1010.7,45,9.6,3.1,270.8,73.07,458.62,2015,3
3,서울특별시,13.3,1005.5,55,80.5,3.1,216.0,54.71,449.84,2015,4
4,서울특별시,18.9,999.4,53,28.9,3.0,290.4,66.03,602.95,2015,5
...,...,...,...,...,...,...,...,...,...,...,...
590,부산광역시,22.9,1004.4,79,164.7,3.0,95.2,26.47,367.94,2021,9
591,부산광역시,18.7,1011.0,67,18.2,2.6,215.9,61.62,453.21,2021,10
592,부산광역시,12.5,1010.0,56,57.9,3.0,221.0,71.20,359.73,2021,11
593,부산광역시,6.0,1014.3,50,4.5,3.0,231.1,75.72,339.36,2021,12
594,부산광역시,4.0,1013.7,41,0.0,2.8,233.8,74.62,369.00,2022,1

In [11]:
# df.to_csv('기상.csv')